<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body class="flex flex-col min-h-screen">
{% for message in app.flashes('success') %}
    <div id="message"
         class="absolute top-32 w-full p-4 mb-4 text-sm text-center text-green-800 rounded-lg bg-green-50 dark:bg-green-500 dark:text-gray-500"
         role="alert">
        <span class="font-bold">{{ message }}</span>
        <button class="ml-2 text- text-red-600 hover:text-red-800">Fermer</button>
    </div>
{% endfor %}

<main class="flex-1">
    {% block body %}
    {% endblock %}
</main>

<footer class="bg-footer h-20 text-white justify-between items-center flex w-full">
    <div class="w-1/2 flex items-center">
        <img class="w-36" src="{{ asset('build/img/logo_color.png') }}" alt="logo">
        <span>© Angélique Dehainaut</span>
    </div>
    <div class="w-1/2 flex items-center justify-end">
        <p>Politique de Confidentialité</p>
        <img class="w-36" src="{{ asset('build/img/logo_color.png') }}" alt="logo">
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

