{% extends 'base.html.twig' %}

{% block title %}Recherche Mot-clés{% endblock %}

{% block body %}
    <header class="bg-header h-32 text-white flex items-center fixed top-0 w-full z-50">
        <div class="w-1/4">
            <img class="w-36" src="{{ asset('build/img/logo.png') }}" alt="logo">
        </div>
        <h1 class="text-3xl font-bold text-center flex-1">ANGELIKA LIBRARY</h1>
        <div class="w-1/2 text-right">
            <a class="text-link mr-4" href="{{ path('app_home') }}">Accueil</a>
            <a class="text-link mr-4" href="{{ path('add_item') }}">Ajouter article</a>
            <a class="text-link mr-4" href="{{ path('add_library') }}">Ajouter une librairie</a>
            <a class="text-link mr-4" href="{{ path('app_library') }}">Library</a>
            <a class="text-link mr-4" href="{{ path('app_category_new') }}">Ajouter une Categorie</a>
            <a class="text-link mr-4" href="{{ path('app_category_index') }}">Catégories</a>
            <a class="text-link mr-4" href="{{ path('app_items_search_editor') }}">Recherche par éditeur</a>
        </div>
    </header>

    <section class="mt-32 flex flex-wrap px-4">
        <h1 class="w-full text-h1Home text-h1 font-popp text-center mb-8">Recherche par Mots-clés les Items</h1>
    </section>

    <form action="" method="GET" class="px-4 w-1/4 mx-auto rounded">
        <label for="wordKey" class="text-h1Home text-sm font-bold mb-2">Mot-clés :</label>
        <div>
            <input type="text" name="wordKey" id="wordKey"
                   class="border rounded w-full py-2 px-3 text-amber-800 leading-tight focus:outline-none focus:shadow-outline">
            <input type="submit"
                   class="
                        mt-4
                        my-4
                        bg-button
                        text-black
                        shadow
                        shadow-black
                        transform
                        -skew-x-12" value="rechercher">
        </div>
    </form>

    <div class="bg-form-gradient w-1/3 mx-auto p-4 rounded">
        <h2 class="text-h1Home text-center">Resultats</h2>
        {% for result in results %}
            <p><span class="font-bold m-2">Titre de l'item:</span>{{ result.title }}</p>
        {% endfor %}
    </div>

{% endblock %}